<div class="user-section">
  <app-audience-engagement [userData]="data"></app-audience-engagement>
  <app-sentiment-analysis [sentiment]="data.SentimentAnalysis"></app-sentiment-analysis>
  <app-peak-activity-periods [username]="username" [peakActivityPeriods]="data.PeakActivityPeriods"></app-peak-activity-periods>
  <ng-container *ngIf="data.SubscriptionStatistic.totalSubscribers>0">
    <app-subscription-statistic [subscription]="data.SubscriptionStatistic"></app-subscription-statistic>
  </ng-container>
  <ng-container *ngIf="data.EmoteUsage.length>0">
    <app-emote-usage [emotes]="data.EmoteUsage"></app-emote-usage>
  </ng-container>
</div>