.info-btn {
    transition: transform 0.3s ease-in-out;
}

.info-btn {
    // Default styles

    &[aria-expanded="true"] {
        transform: translateY(98%) !important;
    }

    &[aria-expanded="false"] {
        transform: translateY(143%) !important;
    }
}

.nav-btn {
    color: #ccc;
}
.nav-btn:hover {
    color: #fff;
}

.dropdown-item:hover {
    background-color: rgb(24, 26, 30);
}