<div class="user-section">
  <div class="row">
    <!-- Sentiment Analysis -->
    <div class="col-12 col-md-6 col-lg-4">
      <app-sentiment-analysis [userData]="data"></app-sentiment-analysis>
    </div>
    <!-- User Information -->
    <div class="col-12 col-md-6 col-lg-4">
      <app-peak-activity-periods [username]="username" [userData]="data"></app-peak-activity-periods>
    </div>
    <!-- Audience Engagement -->
    <div class="col-12 col-md-6 col-lg-4">
      <app-audience-engagement [userData]="data"></app-audience-engagement>
    </div>
  </div>
</div>


<!-- Alerts -->
<div class="toast-container position-fixed top-50 start-50 translate-middle">
  <div class="toast align-items-center text-bg-info border-0 p-3" role="alert" aria-live="assertive" aria-atomic="true"
    [class.show]="notDismissed">
    <div class="d-flex">
      <div class="toast-body">
        <p class="text-dark"><strong class="text-danger">Feature Notice:</strong></p>
        <p>All timeline graphs on this page are fully <strong class="text-danger">scrollable</strong>, allowing you to
          explore the data over different periods.
          <br><strong class="text-danger">Double click</strong> chart to reset the view.
          <br><strong class="text-danger">Click</strong> legend items to hide them.
        </p>
        <p>The data automatically refreshes every <strong class="text-danger">60 seconds</strong> to ensure you're
          viewing the latest insights in real time.</p>
        <p>Thumbnails will be updated every <strong class="text-danger">5 minutes</strong>, as Twitch updates them
          infrequently. This helps in visualizing the current state of the stream.</p>
      </div>
      <button type="button" class="btn-close btn-close-black position-absolute top-0 end-0 m-2" data-bs-dismiss="toast"
        aria-label="Close" (click)="saveDismissed()"></button>
    </div>
  </div>
</div>