<div class="card border-secondary bg-dark text-light text-center m-0 h-100">
    <div class="calendar-header d-flex justify-content-between align-items-center p-2">
        <div class="year-selection">
            <button class="btn btn-outline-secondary btn-sm" (click)="changeYear(-1)">
                <i class="fas fa-chevron-left"></i>
            </button>
            <span class="year-label mx-2 pointer" (click)="resetYear()">{{ selectedYear }}</span>
            <button class="btn btn-outline-secondary btn-sm" (click)="changeYear(1)">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <div class="legend d-flex align-items-center">
            <span class="legend-label me-2">Viewers:</span>
            <span class="legend-min mx-1">{{minViewers}} </span>
            <div class="legend-gradient"></div>
            <span class="legend-min ms-1">{{maxViewers}}</span>
            <span class="legend-max ms-1">Max</span>
        </div>
        <button *ngIf="isHistorySelected" class="btn btn-outline-secondary btn-sm" (click)="unselectHistory()">
            <i class="fas fa-rotate-left"></i> Reset
        </button>
    </div>
    <div class="calendar-container" *ngIf="calendarData">
        <div class="calendar-grid">
            <!-- Day of week headers -->
            <div class="day-header corner-cell"></div>
            <div *ngFor="let day of daysOfWeek" class="day-header">
                {{ day.substring(0, 1) }}
            </div>

            <!-- Continuous flow of days -->
            <ng-container *ngFor="let month of calendarData; let monthIndex = index">
                <div class="month-label" [style.gridRow]="month.startRow + ' / ' + month.endRow">
                    {{ months[monthIndex] }}
                </div>

                <ng-container *ngFor="let week of month.weeks; let weekIndex = index">
                    <ng-container *ngFor="let day of week; let dayIndex = index">
                        <div *ngIf="day.date" class="day-cell" [class.month-start]="day.isFirstDayOfMonth"
                            [class.month-end]="day.isLastDayOfMonth" [class.has-data]="day.entries?.length ?? 0 > 0"
                            [style.gridRow]="month.startRow + weekIndex" [style.gridColumn]="dayIndex + 2"
                            [style.backgroundColor]="getColor(day.entries)" (click)="onDayClick(day.entries ?? [])"
                            [attr.data-date]="formatDateShort(day.date)">
                            <div class="day-tooltip">
                                <div class="date">{{ formatDateShort(day.date) }}</div>
                                <div class="viewers" *ngIf="day.entries?.length ?? 0 > 0">{{
                                    formatViewerInfo(day.entries) }}</div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>