.chat-messages {
    height: 400px;
    width: 33vw;
    overflow-y: auto;
}

.pinned-messages {
    max-height: 200px;
    overflow-y: auto;
}

.highlight {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid red;
    font-weight: bold;
}

.observed {
    border: 1px solid red;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.1);
}

::placeholder {
    opacity: 1;
    color: #ccc;
}

.scroll-to-bottom-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}