<!-- Navigation Bar -->
<nav class="navbar main-nav bg-glass navbar-expand-lg fixed-top border-glow-transition border-glow"
    @fadeInOut>
    <div class="container-fluid my-1">
        <!-- Brand Icon -->
        <a class="navbar-brand pointer position-absolute ms-2" @fadeInOut>
            <i class="fa-solid fa-spider text-warning home-icon"></i>
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item my-1" style="width: 50vw;">
                    <div class="input-group rounded flex-grow-1 me-2">
                        <span class="input-group-text bg-dark border-secondary text-light" id="basic-addon1">
                            <i class="fa-brands fa-twitch"></i>
                        </span>
                        <input #userNameInput class="form-control bg-dark border-secondary text-light text-center"
                            type="text" [(ngModel)]="username" [disabled]="loading"
                            placeholder="Search Twitch channel..." aria-label="Twitch channel username" />
                        <button class="btn btn-dark border-secondary" type="button"
                            title="Start Monitoring">
                            <i class="fa-solid fa-play text-warning"></i>
                        </button>
                        <button *ngIf="loading" class="btn btn-dark border-secondary" type="button"
                            title="Loading data..." disabled>
                            <i class="fa-solid fa-spinner fa-spin"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Twitch login button on the right -->
        <div *ngIf="userAccount === undefined" class="d-flex">
            <button class="btn btn-dark border-secondary" type="button" (click)="twitchAuthService.loginWithTwitch()"
                title="Login with Twitch">
                <i class="fa-brands fa-twitch text-warning px-1"></i>
            </button>
        </div>

        <!-- Otherwise show user account profile picture -->
        <div *ngIf="userAccount !== undefined" class="d-flex">
            <button class="btn btn-dark border-secondary" type="button" (click)="logout()" title="Logout">
                <img [src]="userAccount.profileImageUrl" class="rounded-circle" style="height: 30px; width: 30px;"
                    alt="User Profile Picture" />
            </button>
        </div>
    </div>
</nav>

<!-- Loading Spinner with Backdrop -->
<div class="loading-backdrop" *ngIf="loading">
    <i class="fa-solid fa-spider fa-flip text-warning"></i>
</div>

<!-- Alerts -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast align-items-center text-bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true"
        [class.show]="notDismissed">
        <div class="d-flex">
            <div class="toast-body">
                <small>v{{version}}</small>
                <p class="text-danger text-center"><strong>Important Notice:</strong></p>
                <p>This project is still very much a work in progress. As such, there may be bugs and issues that
                    need to be resolved.<br>
                    <small>You can reach me at <a class="text-decoration-none" href="mailto:kappa@twitchtrends.tv"><i
                                class="fa-solid fa-envelope"></i>{{'kappa@twitchtrends.tv'}}</a></small>
                </p>
                <p>The app works with live Twitch data. If you want to add your own channel you can do so by logging in with your Twitch account (top right).</p>
                <p>Once monitoring is initiated, data will gradually accumulate.</p>
                <p>Historical data is automatically saved once a channel goes offline.</p>
                <p class="text-danger"><strong>Note:</strong> Data persistence is not guaranteed, as live updates are
                    ongoing.</p>
            </div>
            <button type="button" class="btn-close btn-close-black position-absolute top-0 end-0 mt-4 me-4"
                data-bs-dismiss="toast" aria-label="Close" (click)="saveDismissed()"></button>
        </div>
    </div>
</div>
<!-- Main Content -->
<div class="container-fluid mt-5 mb-4 d-flex justify-content-center pt-4">


    <!-- Information Alert -->
    <div class="alert alert-info position-absolute bottom-0 start-0 ms-3 mb-3" *ngIf="info" @fadeInOut>
        <span><strong>Information:</strong> {{ info }}</span>
        <button type="button" class="btn-close position-absolute end-0 me-3" (click)="info = ''"></button>
    </div>

    <!-- Previously Added Channels -->
    <div class="channel-container text-light p-0"
        *ngIf="filteredChannels().length > 0" @listAnimation>
        <!-- Display Cards for Channels -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-6 row-cols-xxl-6 g-4 p-3">
            <div class="col" *ngFor="let channel of filteredChannels(); trackBy: trackByChannelId"
                (click)="username = channel.channelName; fetchNewData()" @moveAnimation>
                <div class="card h-100 bg-glass text-light border-secondary pointer channel-card border-glow-transition">
                    <!-- Channel Thumbnail -->
                    <div class="position-relative">
                        <img class="card-img-top" style="height: 160px; object-fit: cover;"
                            [src]="'https://static-cdn.jtvnw.net/previews-ttv/live_user_' + channel.channelName.toLowerCase() + '-320x180.jpg'"
                            alt="Channel Thumbnail" />
                        <!-- Viewer Count Badge -->
                        <span class="badge bg-danger position-absolute top-0 end-0 m-2"><i class="fa-solid fa-eye"></i>
                            {{ channel.viewerCount |
                            numberAbbreviator }}</span>
                        <!-- Uptime -->
                        <span *ngIf="channel.isOnline && channel.uptime"
                            class="badge bg-success position-absolute bottom-0 start-50 translate-middle-x mb-2">
                            <i class="fa-solid fa-clock"></i> {{ getTimeSince(channel.uptime) }}
                        </span>
                    </div>

                    <!-- Card Body -->
                    <div class="card-body">

                        <!-- Channel Info - Flexbox for Equal Spacing -->
                        <div class="d-flex justify-content-between">
                            <span class="text-warning text-truncate" style="max-width: 66%;"><strong>{{
                                    channel.channelName }}</strong></span>
                            <span><i class="fa-circle"
                                    [ngClass]="{'fa-solid text-success': channel.isOnline, 'fa-regular text-danger': !channel.isOnline}"></i>
                                {{ channel.isOnline ? 'Online' : 'Offline' }}
                            </span>
                        </div>
                        <p *ngIf="channel.isOnline" [title]="channel.title" class="text-truncate m-0">
                            <small>{{channel.title}}</small></p>
                        <p *ngIf="channel.isOnline" [title]="channel.title"
                            class="text-truncate text-muted text-center m-0"><small>{{channel.game}}</small></p>
                        <div class="d-flex justify-content-between mt-3"
                            *ngIf="viewportService.isFullScreenView$ | async">
                            <span><strong>Messages:</strong></span>
                            <span><span *ngIf="channel.isOnline; else noMessages">{{ channel.messageCount |
                                    numberAbbreviator }}</span></span>
                        </div>

                        <div class="d-flex justify-content-between mt-2"
                            *ngIf="viewportService.isFullScreenView$ | async">
                            <span><strong>Messages/min:</strong></span>
                            <span><span *ngIf="channel.isOnline; else noMessages">{{
                                    getMessagesPerMinute(channel.messageCount, channel.streamingSince) | number: '1.0-2'}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Templates -->
<ng-template #noMessages>
    <span class="text-muted"><i class="fa-solid fa-minus"></i></span>
</ng-template>