// Placeholder Styles
::placeholder {
    opacity: 1;
    color: #ccc;
}

::-ms-input-placeholder {
    opacity: 1;
    color: #ccc;
}

// Tags
input {
    box-shadow: none !important;
    outline: none !important;
}

table tbody tr {
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
    overflow: hidden;
}

table tbody tr.removed {
    height: 0;
    opacity: 0;
}

@mixin width {
    width: auto !important;
}

table {
    &.table-fit {
        @include width;
        table-layout: auto !important;

        thead th,
        tbody td,
        tfoot th,
        tfoot td {
            @include width;
        }
    }
}

// Classes

.main-nav {
    height: 4.5rem;
}

.border-glow-transition {
    transition: border-bottom 0.15s ease, box-shadow 0.15s ease;
}

.border-glow, .channel-card:hover {
    border-bottom: 1px solid #434567 !important;
    box-shadow: 0px 0px 5px -1px rgba(155, 155, 255, 0.8);
}

.channel-container {
    width: 75vw;
}

.main-text {
    font-family: 'MainFont', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
}

.history-container {
    margin-top: 4rem;
}

.home-icon {
    font-size: 2rem;
    color: #fff;
}

.thumbnail-overlay {
    position: absolute;
    background-color: rgba(19,21,24, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    width: 40px;
    height: 20px;
    text-shadow: 0px 0px 2px rgba(19,21,24, 0.8);
}

.loading-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(19,21,24, 1); /* Semi-transparent backdrop */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Ensure it's on top of other content */
    font-size: 4rem;
}

.sticky-input {
    transition: box-shadow 0.3s ease;
}

.sticky-shadow {
    box-shadow: 0px 0px 8px -1px rgba(155, 155, 255, 0.8);
}

.cdk-drag-preview {
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.6);
}

.cdk-drag-placeholder {
    visibility: hidden;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 768px) {
    .channel-container {
        width: 100vw;
    }
}
