@font-face {
  font-family: 'MainFont';
  src: url('assets/fonts/main_font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  padding: 0;
  background-color: #131518;
  overflow-x: hidden;
}

canvas {
  width: 100% !important;
  min-height: 50% !important;
}

.pointer {
  cursor: pointer;
}

.text-muted {
  color: rgba(255,255,255, .35) !important
}

.text-primary {
  color: #2263a8 !important;
}

.text-warning {
  color: #f5b648 !important;
}

.h-0 {
  height: 0 !important;
}

.z-100 {
  z-index: 100 !important;
}

.z-over-bootstrap {
  z-index: 1051 !important;
}

.rounded-bottom-end {
  border-bottom-right-radius: 0.375rem !important;
}

.border-end-0 {
  border-right: 0 !important;
}

.border-start-0 {
  border-left: 0 !important;
}

.rounded-bottom-start {
  border-bottom-left-radius: 0.375rem !important;
}

.top-index {
    z-index: 9999;
}

.bg-glass {    
    backdrop-filter: blur(5px);
    background-color: rgba(19,21,24, 0.8) !important;
    background: rgba(19,21,24, 0.8) !important;
}

.bg-dark {
    background-color: rgb(24, 26, 30) !important;
}

.bg-secondary {
    background-color: #434567 !important;
}

.bg-info {
    background-color: #0087CE !important;
    color: #eee !important;
}

.border-secondary {
    border-color: #434567 !important;
}

.table-dark {
  --bs-table-bg: rgb(24, 26, 30); /* Background color */

  /* Striped rows */
  --bs-table-striped-bg: rgb(30, 32, 37); /* Striped background color */

  /* Hover */
  --bs-table-hover-bg: rgba(30, 32, 37, 0.5); /* Hover background color */
}

.table-transparent {
  --bs-table-bg: transparent; /* Background color */

  /* Striped rows */
  --bs-table-striped-bg: rgba(255, 255, 255, 0.05); /* Striped background color */

  /* Hover */
  --bs-table-hover-bg: rgba(255, 255, 255, 0.1); /* Hover background color */

  /* Font color */
  --bs-table-color: #fff; /* Font color */
}

.mat-mdc-dialog-surface {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: none !important;
}


.trend-stable {
  color: rgba(255, 168, 57, 0.5);
}
.trend-up {
  color: #00ff00;
}
.trend-down {
  color: #ff0000;
}

/* Typography */
div, span, a, li, ul, ol, td, th {
  font-size: .85rem;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

/* Paragraph */
p {
  font-size: .85rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem !important;
}

h6 {
  font-size: .85rem;
}

td {
  font-size: .85rem;
}

th {
  font-size: .9rem;
}

/* Responsive for medium screens (tablets) */
@media (max-width: 768px) {
  div, span, a, li, ul, ol, td, th {
    font-size: .8rem;
  }
  p {
    font-size: 0.65rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.15rem;
  }
  h5 {
    font-size: 0.95rem !important;
  }
  h6 {
    font-size: 0.7rem;
  }
}

/* Responsive for small screens (phones) */
@media (max-width: 576px) {
  div, span, a, li, ul, ol, td, th {
    font-size: .65rem;
  }
  p {
    font-size: 0.6rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.05rem;
  }
  h5 {
    font-size: 0.9rem !important;
  }
  h6 {
    font-size: 0.65rem;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: rgb(24, 26, 30) !important;;
}

::-webkit-scrollbar-thumb {
  background: #434567;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: rgb(24, 26, 30) !important;
}