@font-face {
  font-family: 'MainFont';
  src: url('assets/fonts/main_font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  padding: 0;
  background-color: #131518;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.text-muted {
  color: rgba(255,255,255, .35) !important
}

.h-0 {
  height: 0 !important;
}

.z-100 {
  z-index: 100 !important;
}

.top-index {
    z-index: 9999;
}

.bg-glass {    
    backdrop-filter: blur(5px);
    background-color: rgba(19,21,24, 0.8) !important;
    background: rgba(19,21,24, 0.8) !important;
}

.bg-dark {
    background-color: rgb(24, 26, 30) !important;
}

.bg-secondary {
    background-color: #434567 !important;
}

.bg-info {
    background-color: #0087CE !important;
    color: #eee !important;
}

.border-secondary {
    border-color: #434567 !important;
}

.table-dark {
  --bs-table-bg: rgb(24, 26, 30); /* Background color */

  /* Striped rows */
  --bs-table-striped-bg: rgb(30, 32, 37); /* Striped background color */

  /* Hover */
  --bs-table-hover-bg: rgba(30, 32, 37, 0.5); /* Hover background color */
}


.trend-stable {
  color: rgba(255, 168, 57, 0.5);
}
.trend-up {
  color: #00ff00;
}
.trend-down {
  color: #ff0000;
}

h5 {
  font-size: 1.25rem !important;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
}